.SignIn {
    .top {
      padding: 30px 30px;
      width: 90%;
      min-height: 33%;
    }
    
    .top p{
      margin-bottom: 25px;
    }
    
    .bottom {
      padding: 30px 30px;
      width: 90%;
      min-height: 33%;
    }
}



